# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases (SQLite)
*.db
*.sqlite3

# Virtual Environments
venv/
.venv/
env/
ENV/

# IDE files
.idea/
.vscode/

# Operating System Files
.DS_Store
Thumbs.db
